<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net452" />
  <package id="CommonWin32" version="2.1.0.3" targetFramework="net452" />
  <package id="ControlzEx" version="4.3.0-alpha0107" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="MahApps.Metro" version="2.0.0-alpha0821" targetFramework="net452" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net452" />
  <package id="Panuon.UI" version="1.0.0" targetFramework="net452" />
  <package id="Panuon.UI.Silver" version="1.1.2" targetFramework="net452" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net452" />
</packages>